@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Black.woff2") format("woff2"), url("../fonts/Mulish-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-BlackItalic.woff2") format("woff2"), url("../fonts/Mulish-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-BoldItalic.woff2") format("woff2"), url("../fonts/Mulish-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Mulish-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-ExtraLight.woff2") format("woff2"), url("../fonts/Mulish-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Mulish-ExtraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Italic.woff2") format("woff2"), url("../fonts/Mulish-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Light.woff2") format("woff2"), url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/Mulish-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Mulish-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-MediumItalic.woff2") format("woff2"), url("../fonts/Mulish-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-LightItalic.woff2") format("woff2"), url("../fonts/Mulish-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: 4rem;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0 0 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: 15px 25px;
  font-size: 1rem;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 1px #ccc;
  box-shadow: inset 0 0 1px #ccc;
  -webkit-transition: border-color ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  -o-transition: border-color ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
  transition: border-color ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
}
input:focus {
  border-color: #79d9ff;
  outline: 0;
}
input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #ccc;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input::-ms-expand {
  background-color: transparent;
  border: 0;
}

p {
  margin: 0 0 15px;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  line-height: 1.45;
  font-weight: 500;
  background: #080a0f;
  overflow-x: hidden;
  will-change: scroll-position;
}

.wrapper {
  min-height: 100%;
}
.wrapper::after {
  content: "";
  display: block;
  height: 100px;
}

.container {
  width: 1076px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 1076px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (max-width: 1076px) {
  .container {
    width: 992px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.title-online {
  position: relative;
  padding-left: 30px;
}
.title-online::before {
  content: "";
  display: block;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateX(-50%);
  width: 7px;
  height: 7px;
  background: #7CB342;
  border-radius: 50%;
}

.radio-button {
  width: 50px;
  height: 26px;
  background-color: #dadada;
  border-radius: 20px;
  position: relative;
}
.radio-button.active .radio-switch {
  left: 26px;
  background: #8bd73a;
}
.radio-button .radio-switch {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

.selector-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.selector-options::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6' d='m7 10l5 5l5-5'/%3E%3C/svg%3E");
}
.selector-options.disable {
  opacity: 0.65;
  cursor: not-allowed;
}
.selector-options.active {
  border-radius: 20px 20px 0 0;
}
.selector-options.active .selector-option {
  display: block;
  border-top: 1px solid #eee;
}
.selector-options.active .selector-arrow_b {
  transform: rotate(180deg);
}
.selector-option {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background: #eee;
  width: 100%;
  z-index: 11;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.selector-option__item {
  padding: 5px 20px;
  border-bottom: 1px solid #fff;
}
.selector-option__item:last-child {
  border: 0;
}
.selector-option__item.active:hover, .selector-option__item:hover {
  transition: 300ms;
  background: #ffffff;
}
.selector-option__item.active {
  background: #dfdfdf;
}

.selecton-arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6' d='m7 10l5 5l5-5'/%3E%3C/svg%3E");
}
.selecton-arrow_b {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6' d='m7 10l5 5l5-5'/%3E%3C/svg%3E");
}

.header {
  background: #2C1C5A;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px;
}
@media only screen and (max-width: 580px) {
  .header__wrap {
    padding: 10px 0;
  }
}
.header__item_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .header__item_logo {
    margin-bottom: 10px;
    text-align: center;
  }
}
.header__item_logo a {
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
}
.header__item_menu {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .header__item_menu {
    justify-content: space-between;
  }
}
.header__item_menu .menu-icon {
  padding: 10px;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  .header__item_menu .menu-icon {
    padding: 7px 10px;
  }
}
.header__item_menu.active .menu {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}
.header__item_menu.active .menu-icon {
  padding: 0 30px;
}
.header__item_menu.active .menu-icon .icon_menu {
  display: none;
}
.header__item_menu.active .menu-icon .icon_close {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}
.header__item .btns {
  margin-right: 30px;
}
@media only screen and (max-width: 580px) {
  .header__item .btns {
    margin-right: 8px;
  }
}
.header__item .btns .btn {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  padding: 10px 20px;
  background: #1C2332;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .header__item .btns .btn {
    padding: 7px 20px;
  }
}
.header-info, .header-info__item_phone, .header-info__item {
  display: flex;
  align-items: center;
}
.header-info__item:last-child {
  margin-left: 10px;
  padding: 3px 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.header-info__email {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z'/%3E%3C/svg%3E");
}
.header-info__android {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%237cb342' d='M12 29.001a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0zm28 0a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0zM22 40a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0zm8 0a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0z'/%3E%3Cpath fill='%237cb342' d='M14 18.001V33a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V18.001zM24 8c-6 0-9.655 3.645-10 8h20c-.346-4.355-4-8-10-8m-4 5.598a1 1 0 1 1 0-2a1 1 0 0 1 0 2m8 0a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/%3E%3Cpath fill='none' stroke='%237cb342' stroke-linecap='round' stroke-width='2' d='m30 7l-1.666 2.499M18 7l1.333 2.082'/%3E%3C/svg%3E");
}
.header-info__apple {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47c-1.34.03-1.77-.79-3.29-.79c-1.53 0-2 .77-3.27.82c-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51c1.28-.02 2.5.87 3.29.87c.78 0 2.26-1.07 3.81-.91c.65.03 2.47.26 3.64 1.98c-.09.06-2.17 1.28-2.15 3.81c.03 3.02 2.65 4.03 2.68 4.04c-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5c.13 1.17-.34 2.35-1.04 3.19c-.69.85-1.83 1.51-2.95 1.42c-.15-1.15.41-2.35 1.05-3.11'/%3E%3C/svg%3E");
}
.header .icon_menu {
  display: flex;
  width: 40px;
  height: 22px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header .icon_menu {
    width: 30px;
  }
}
.header .icon_close {
  display: none;
  height: 34px;
  width: 34px;
  position: absolute;
  top: 47px;
  right: 34px;
  z-index: 9999;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header .icon_close {
    top: 15px;
    right: 15px;
  }
}
.header ul.menu {
  display: none;
  position: fixed;
  right: 0;
  width: 390px;
  padding: 82px 42px;
  background: #261850;
  background-size: contain;
  top: 0;
  height: 100vh;
  z-index: 9998;
}
@media only screen and (max-width: 768px) {
  .header ul.menu {
    padding: 50px 30px;
  }
}
.header ul.menu li:nth-child(5) a {
  border: 0;
}
.header ul.menu a {
  display: block;
  padding: 7px 14px;
  color: #fff;
  border-bottom: 1px solid #4e445d;
  font-size: 28px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .header ul.menu a {
    font-size: 22px;
  }
}

@media screen and (max-width: 420px) {
  .header__item_logo a {
    font-size: 24px;
  }
}
body {
  background: #fff;
}

.dashbord {
  position: relative;
  background: #2C1C5A;
  z-index: 10;
}
.dashbord__title {
  color: #fff;
  font-size: 40px;
}
.dashbord__title span:nth-child(2) {
  padding: 0 10px;
}
.dashbord__title span:nth-child(2),
.dashbord__title span:last-child {
  font-size: 18px;
  font-weight: 400;
}
.dashbord::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: #fff;
  z-index: -1;
  border-radius: 20px 20px 0 0;
}
.dashbord__item_info {
  background: #fff;
  margin-bottom: 20px;
  padding-top: 35px;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.dashbord-filters {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 30px;
  margin-bottom: 20px;
}
.dashbord-filters.active {
  border-radius: 20px 20px 0 0;
}
.dashbord-filters.active .Dashbord-filters-option {
  display: block;
  border-top: 1px solid #eee;
}
.dashbord-filters.active .selecton-arrow_b {
  transform: rotate(180deg);
}
.dashbord-filters__item-head {
  position: relative;
  padding: 0 30px 0 45px;
  font-weight: 700;
  text-decoration: underline;
  font-size: 20px;
  color: #2D2B43;
}
.dashbord-filters__item-head::before, .dashbord-filters__item-head::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.dashbord-filters__item-head::before {
  left: 0;
  display: inline-block;
  width: 34px;
  height: 34px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 4c4.411 0 8 3.589 8 8s-3.589 8-8 8s-8-3.589-8-8s3.589-8 8-8m0-2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m3.8 13.4L13 11.667V7h-2v5.333l3.2 4.266z'/%3E%3C/svg%3E");
  background-color: #2D2B43;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.dashbord-filters__item-head::after {
  right: 0;
  transform: translateY(-30%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #2D2B43 transparent transparent transparent;
  transform: rotate(0deg);
}
.dashbord-info-list {
  margin-bottom: 20px;
  padding: 0 30px;
}
.dashbord-info-list__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.dashbord-info-list__item:last-child {
  border: none;
}
.dashbord-info-list__item span:last-child {
  font-weight: 700;
  font-size: 18px;
}
.dashbord-info-btn {
  display: block;
  width: 100%;
  padding: 15px 30px;
  background: rgb(24, 26, 65);
  background: linear-gradient(270deg, rgb(24, 26, 65) 14%, rgb(102, 39, 169) 100%);
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.dashbord-info-btn span:first-child {
  padding-right: 7px;
}

.dashbord-resalt-list {
  margin-bottom: 10px;
  padding: 35px 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.dashbord-resalt-list__item .selector-options {
  margin-bottom: 20px;
  padding: 5px 20px;
  background: #eee;
  border-radius: 20px;
}
.dashbord-resalt-list__item .selector-options:last-child {
  margin-bottom: 0;
}